data/
output/
__pycache__/
*.csv
*.txt
.directory
DEADJOE
visualization.py
playground.py
raw/
processed/
visualization_try.py
show_from_output.py
*.gz

*.xcf

# LaTeX files 
*.aux
*.pdf
*.log
*.toc
*.out
*.bbl
*.blg
*.bcf
*.xml
